<div>

    <h1 class="text-info text-center">Inquery Confirmation</h1>

    <p class="text-center">We have recieved your inquery and someone from our team will contact you shortly!</p>

    <img src="/images/patio.jpg" width="80%" class="justify-content-center" />

</div>
